* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

#wrapper {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

p {
  margin: 10px;
}

#status {
}
#count {
  font-family: monospace;
  font-size: 18px;
  padding: 0 5px;
  border-radius: 2px;
  background: #eee;
  color: #000;
}
#message {
}

#purchase {
  width: 50%;
}
#purchase .item {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#chute {
  background: #eee;
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.icon {
  position: absolute;
}
.icon.acorn {
  background-image: url('../i/Nut-50.png');
  z-index: 100;
}
.icon.acorn.destroyed {
  opacity: 0;
  transition: opacity 0.3s;
}

